<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{email.password-reset.title}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.password-reset.greeting} + ' ' + ${user.firstName} + '.'"/>
<p th:text="#{email.password-reset.new_password_request_text} + ' ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{email.password-reset.set_new_password_ref}"></a>
</body>
</html>